.searchinput{
    width: 480px!important;
    padding-right: 48px!important;
    height: 20px;
    padding: 9px 7px;
    font: 16px arial;
    border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    border-right: 0;
    vertical-align: top;
    outline: none;
    box-shadow: none;
    margin-left: 3%;
}
.searchsubmit{
    cursor: pointer;
    width: 102px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border: 0;
    background: none;
    background-color: #38f;
    font-size: 16px;
    color: white;
    box-shadow: none;
    font-weight: normal;
}
.managersubmit{
    cursor: pointer;
    width: 102px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border: 0;
    background: none;
    background-color: #38f;
    font-size: 16px;
    color: white;
    box-shadow: none;
    font-weight: normal;
    font-family: 新宋体;
    font-weight:bold;
}
.link{
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
    line-height: 0.5;
    font-weight: 400;
    font-size: medium;
    word-wrap: break-word;
    display:block;
}
.textcenter{
    text-align:center;
    padding:20px 0;
}
.resultdiv{
    margin-left: 10px;
}
.aboutbutton{
    background-color: rgb(26, 188, 156);
    color: #ffffff;float: right;
    transition: all 0.2s ease;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 8.3px 16px;
    border-radius: 3px;
    border: 0 !important;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    margin: 10px;
}

.aboutbody{
    font-family: Microsoft YaHei;
    /*font-family: Tahoma;*/
    text-align: center;

}

.aboutalldiv{
    margin-top: 50px;
    background-color: #b8b8b8;
    MARGIN-RIGHT: auto; MARGIN-LEFT: auto;
    width: 300px;
    height: 400px;
}

.aboutcontent{
    height: 38px;
    line-height: 25px;
    padding: 0;
    border: 0;
    background: none;
    font-size: 16px;
    color: black;
    box-shadow: none;
    font-weight: normal;
}

.myportrait {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-image: url(https://avatars0.githubusercontent.com/u/21081491?v=3&s=460);
    background-size: 120%;
    background-position: center;
    border-radius: 50%;
    border: 5px solid #607d8b;
    width: 160px;
    height: 160px;
}